modules/step-functions/utils/run_archive_job.asl.json
{
  "Comment": "Run archive job to sync MySQL dumps and media files to S3 in destination account",
  "StartAt": "GetClusterInfo",
  "States": {
    "GetClusterInfo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:rds:describeDBClusters",
      "Parameters": {
        "DbClusterIdentifier.$": "$.DbClusterIdentifier"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultSelector": {
        "Endpoint.$": "$.DbClusters[0].Endpoint",
        "MasterUserSecret.$": "$.DbClusters[0].MasterUserSecret"
      },
      "ResultPath": "$.DbClusterInfo",
      "Next": "EnsureNodegroupCapacity",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "ArchiveFailed"
        }
      ]
    },
    "EnsureNodegroupCapacity": {
      "Type": "Task",
      "Comment": "Ensure node group has sufficient capacity before running archive job",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "$.StepFunctions.EKS.ScaleNodegroupAsg",
        "Input": {
          "ClusterName.$": "$.EKS.ClusterName",
          "Tolerations.$": "$.EKS.Tolerations",
          "MinimumCapacity.$": "$.EKS.Scaling.MinimumCapacity",
          "DesiredCapacity.$": "$.EKS.Scaling.TargetCapacity",
          "DestinationAccount.$": "$.DestinationAccount"
        }
      },
      "ResultPath": "$.EnsureNodegroupResult",
      "Next": "GetDatabaseCredentials",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.EnsureNodegroupError",
          "Next": "GetDatabaseCredentials"
        }
      ]
    },
    "GetDatabaseCredentials": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:secretsmanager:getSecretValue",
      "Parameters": {
        "SecretId.$": "$.DbClusterInfo.MasterUserSecret.SecretArn"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": "$.SecretValue",
      "Next": "ParseSecretString",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "ArchiveFailed"
        }
      ]
    },
    "ParseSecretString": {
      "Type": "Pass",
      "Parameters": {
        "ParsedSecret.$": "States.StringToJson($.SecretValue.SecretString)"
      },
      "ResultPath": "$.ParsedSecretResult",
      "Next": "GetEksClusterInfo"
    },
    "GetEksClusterInfo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:eks:describeCluster",
      "Parameters": {
        "Name.$": "$.EKS.ClusterName"
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": "$.ClusterInfo",
      "Next": "RunKubernetesJob",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "ArchiveFailed"
        }
      ]
    },
    "RunKubernetesJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::eks:runJob.sync",
      "Parameters": {
        "ClusterName.$": "$.ClusterInfo.Cluster.Name",
        "CertificateAuthority.$": "$.ClusterInfo.Cluster.CertificateAuthority.Data",
        "Endpoint.$": "$.ClusterInfo.Cluster.Endpoint",
        "Namespace.$": "$.EKS.Namespace",
        "Job": {
          "apiVersion": "batch/v1",
          "kind": "Job",
          "metadata": {
            "name.$": "States.Format('refresh-archive-{}', $.ExecutionName)",
            "namespace.$": "$.EKS.Namespace"
          },
          "spec": {
            "template": {
              "metadata": {
                "name": "refresh-archive"
              },
              "spec": {
                "serviceAccountName.$": "$.EKS.ArchiveJob.ServiceAccount",
                "nodeSelector.$": "$.EKS.NodeSelector",
                "tolerations.$": "$.EKS.Tolerations",
                "volumes": [
                  {
                    "name": "shared-data",
                    "persistentVolumeClaim": {
                      "claimName.$": "$.EKS.ArchiveJob.PvcName"
                    }
                  },
                  {
                    "name": "shared-data-media",
                    "persistentVolumeClaim": {
                      "claimName.$": "$.EfsPvcName"
                    }
                  }
                ],
                "containers": [
                  {
                    "name": "mysql-archive",
                    "image.$": "$.EKS.ArchiveJob.JobImage",
                    "imagePullPolicy": "Always",
                    "volumeMounts": [
                      {
                        "name": "shared-data",
                        "mountPath": "/refresh",
                        "subPath.$": "States.Format('refresh-mysqldump-{}-{}', $.EKS.Namespace, $.ExecutionName)"
                      },
                      {
                        "name": "shared-data-media",
                        "mountPath": "/shared-data-media",
                        "subPath.$": "$.EfsSubPath"
                      }
                    ],
                    "env": [
                      {"name": "TZ", "value": "Europe/Paris"},
                      {"name": "MYSQL_HOST", "value.$": "$.DbClusterInfo.Endpoint"},
                      {"name": "MYSQL_USER", "value.$": "$.ParsedSecretResult.ParsedSecret.username"},
                      {"name": "MYSQL_PASSWORD", "value.$": "$.ParsedSecretResult.ParsedSecret.password"},
                      {"name": "MYSQL_DATABASE", "value.$": "$.Database.MySQLOperations.DatabaseName"},
                      {"name": "S3_SYNC", "value": "true"},
                      {"name": "S3_BUCKET", "value.$": "$.EKS.ArchiveJob.S3Bucket"},
                      {"name": "S3_PREFIX", "value.$": "$.EKS.ArchiveJob.S3Prefix"},
                      {"name": "SHARED_FOLDER", "value": "/refresh"},
                      {"name": "SHARED_MEDIA_FOLDER", "value": "/shared-data-media"},
                      {"name": "MEDIAFOLDER", "value.$": "$.EKS.ArchiveJob.MediaFolder"}
                    ]
                  }
                ],
                "restartPolicy": "Never"
              }
            }
          }
        }
      },
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ResultPath": "$.JobResult",
      "Next": "PrepareOutput",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.Error",
          "Next": "ArchiveFailed"
        }
      ]
    },
    "PrepareOutput": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Completed",
        "ModuleName": "run_archive_job",
        "EksClusterName.$": "$.EKS.ClusterName"
      },
      "Next": "ArchiveSucceeded"
    },
    "ArchiveFailed": {
      "Type": "Fail",
      "Error": "ArchiveJobFailed",
      "Cause": "Failed to run archive job"
    },
    "ArchiveSucceeded": {
      "Type": "Succeed"
    }
  }
}
