modules/step-functions/db/enable_master_secret.asl.json
{
  "Comment": "Cross-account version: Enables automatic management of the master user password via Secrets Manager.",
  "StartAt": "EnableMasterSecret",
  "States": {
    "EnableMasterSecret": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:rds:modifyDBCluster",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "TimeoutSeconds": 300,
      "HeartbeatSeconds": 60,
      "Parameters": {
        "DbClusterIdentifier.$": "$.DbClusterIdentifier",
        "ManageMasterUserPassword": true,
        "MasterUserSecretKmsKeyId.$": "$.MasterUserSecretKmsKeyId",
        "ApplyImmediately": true
      },
      "ResultPath": "$.enable-master-user-secret-result",
      "Next": "WaitClusterAvailable",
      "Retry": [
        {
          "ErrorEquals": ["Rds.InvalidDBClusterStateFault"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "EnableFailed" }]
    },
    "WaitClusterAvailable": {
      "Type": "Wait",
      "Seconds": 300,
      "Next": "CheckClusterStatus"
    },
    "CheckClusterStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:rds:describeDBClusters",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "DbClusterIdentifier.$": "$.DbClusterIdentifier"
      },
      "ResultPath": "$.ClusterStatus",
      "Next": "IsClusterAvailable"
    },
    "IsClusterAvailable": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ClusterStatus.DbClusters[0].Status",
          "StringEquals": "available",
          "Next": "PrepareOutput"
        }
      ],
      "Default": "WaitClusterAvailable"
    },
    "PrepareOutput": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Completed",
        "ModuleName": "enable_master_secret",
        "PrimaryIdentifier.$": "$.DbClusterIdentifier",
        "SecretArn.$": "$.enable-master-user-secret-result.DbCluster.MasterUserSecret.SecretArn"
      },
      "Next": "EnableSucceeded"
    },
    "EnableFailed": {
      "Type": "Fail"
    },
    "EnableSucceeded": {
      "Type": "Succeed"
    }
  }
}
