modules/step-functions/db/rotate_secrets.asl.json
{
  "Comment": "Cross-account version: Rotates database secrets with cluster endpoint update.",
  "StartAt": "PrepareContext",
  "States": {
    "PrepareContext": {
      "Type": "Pass",
      "Parameters": {
        "DbClusterIdentifier.$": "$.DbClusterIdentifier",
        "DatabaseUsersSecrets.$": "$.DatabaseUsersSecrets",
        "KmsKeyId.$": "$.KmsKeyId",
        "RotationLambdaARN.$": "States.Format('arn:aws:lambda:{}:{}:function:{}', $.Region, $.DestinationAccount.AccountId, $.RotationLambdaName)",
        "Region.$": "$.Region",
        "DestinationAccount.$": "$.DestinationAccount"
      },
      "ResultPath": "$",
      "Next": "GetClusterEndpoint"
    },
    "GetClusterEndpoint": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:rds:describeDBClusters",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "DbClusterIdentifier.$": "$.DbClusterIdentifier"
      },
      "ResultSelector": {
        "Endpoint.$": "$.DbClusters[0].Endpoint",
        "ReaderEndpoint.$": "$.DbClusters[0].ReaderEndpoint",
        "Port.$": "$.DbClusters[0].Port",
        "Engine.$": "$.DbClusters[0].Engine",
        "MasterUsername.$": "$.DbClusters[0].MasterUsername",
        "MasterUserSecret.$": "$.DbClusters[0].MasterUserSecret"
      },
      "ResultPath": "$.ClusterInfo",
      "Next": "RotateUserSecretsMap",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "ResultPath": "$.ClusterError",
        "Next": "RotationFailed"
      }]
    },
    "RotateUserSecretsMap": {
      "Type": "Map",
      "ItemsPath": "$.DatabaseUsersSecrets",
      "MaxConcurrency": 1,
      "ItemSelector": {
        "SecretId.$": "$$.Map.Item.Value.SecretId",
        "SourceSecretId.$": "$$.Map.Item.Value.SourceSecretId",
        "Username.$": "$$.Map.Item.Value.Username",
        "KmsKeyId.$": "$.KmsKeyId",
        "RotationLambdaARN.$": "$.RotationLambdaARN",
        "ClusterEndpoint.$": "$.ClusterInfo.Endpoint",
        "ReaderEndpoint.$": "$.ClusterInfo.ReaderEndpoint",
        "ClusterPort.$": "$.ClusterInfo.Port",
        "Engine.$": "$.ClusterInfo.Engine",
        "MasterArn.$": "$.ClusterInfo.MasterUserSecret.SecretArn",
        "DbClusterIdentifier.$": "$.DbClusterIdentifier",
        "DatabaseName.$": "$$.Map.Item.Value.DatabaseName",
        "JdbcOptions": "useSSL=true&requireSSL=true",
        "DestinationAccountRoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "ItemProcessor": {
        "ProcessorConfig": { "Mode": "INLINE" },
        "StartAt": "GetSourceSecretValue",
        "States": {
          "GetSourceSecretValue": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:secretsmanager:getSecretValue",
            "Credentials": {
              "RoleArn.$": "$.DestinationAccountRoleArn"
            },
            "Parameters": {
              "SecretId.$": "$.SourceSecretId"
            },
            "ResultPath": "$.SourceSecret",
            "Next": "GetTargetSecretValue",
            "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "RotationForItemFailed" }]
          },
          "GetTargetSecretValue": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:secretsmanager:getSecretValue",
            "Credentials": {
              "RoleArn.$": "$.DestinationAccountRoleArn"
            },
            "Parameters": {
              "SecretId.$": "$.SecretId"
            },
            "ResultPath": "$.TargetSecret",
            "Next": "ParseSourceSecret",
            "Catch": [
              {
                "ErrorEquals": ["SecretsManager.ResourceNotFoundException"],
                "Next": "PrepareNewSecret"
              }
            ]
          },
          "ParseSourceSecret": {
            "Type": "Pass",
            "Parameters": {
              "SecretId.$": "$.SecretId",
              "SourceSecretParsed.$": "States.StringToJson($.SourceSecret.SecretString)",
              "ClusterEndpoint.$": "$.ClusterEndpoint",
              "ReaderEndpoint.$": "$.ReaderEndpoint",
              "ClusterPort.$": "$.ClusterPort",
              "Engine.$": "$.Engine",
              "MasterArn.$": "$.MasterArn",
              "DbClusterIdentifier.$": "$.DbClusterIdentifier",
              "DatabaseName.$": "$.DatabaseName",
              "JdbcOptions.$": "$.JdbcOptions",
              "RotationLambdaARN.$": "$.RotationLambdaARN",
              "DestinationAccountRoleArn.$": "$.DestinationAccountRoleArn"
            },
            "ResultPath": "$",
            "Next": "UpdateSecretWithEndpoint"
          },
          "UpdateSecretWithEndpoint": {
            "Type": "Pass",
            "Parameters": {
              "SecretId.$": "$.SecretId",
              "UpdatedSecret": {
                "username.$": "$.SourceSecretParsed.username",
                "password.$": "$.SourceSecretParsed.password",
                "engine.$": "$.Engine",
                "host.$": "$.ClusterEndpoint",
                "host_ro.$": "$.ReaderEndpoint",
                "port.$": "$.ClusterPort",
                "dbname.$": "$.DatabaseName",
                "jdbcUrl.$": "States.Format('jdbc:mysql://{}/{}?{}', $.ClusterEndpoint, $.DatabaseName, $.JdbcOptions)",
                "jdbcReadOnlyUrl.$": "States.Format('jdbc:mysql://{}/{}?{}', $.ReaderEndpoint, $.DatabaseName, $.JdbcOptions)",
                "masterarn.$": "$.MasterArn",
                "dbClusterIdentifier.$": "$.DbClusterIdentifier"
              },
              "RotationLambdaARN.$": "$.RotationLambdaARN",
              "DestinationAccountRoleArn.$": "$.DestinationAccountRoleArn"
            },
            "ResultPath": "$",
            "Next": "StringifySecret"
          },
          "StringifySecret": {
            "Type": "Pass",
            "Parameters": {
              "SecretId.$": "$.SecretId",
              "UpdatedSecretString.$": "States.JsonToString($.UpdatedSecret)",
              "RotationLambdaARN.$": "$.RotationLambdaARN",
              "DestinationAccountRoleArn.$": "$.DestinationAccountRoleArn"
            },
            "ResultPath": "$",
            "Next": "UpdateSecret"
          },
          "UpdateSecret": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:secretsmanager:putSecretValue",
            "Credentials": {
              "RoleArn.$": "$.DestinationAccountRoleArn"
            },
            "Parameters": {
              "SecretId.$": "$.SecretId",
              "SecretString.$": "$.UpdatedSecretString"
            },
            "ResultPath": null,
            "Next": "RotateSecret",
            "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "RotationForItemFailed" }]
          },
          "PrepareNewSecret": {
            "Type": "Pass",
            "Parameters": {
              "SecretId.$": "$.SecretId",
              "SourceSecretParsed.$": "States.StringToJson($.SourceSecret.SecretString)",
              "ClusterEndpoint.$": "$.ClusterEndpoint",
              "ReaderEndpoint.$": "$.ReaderEndpoint",
              "ClusterPort.$": "$.ClusterPort",
              "Engine.$": "$.Engine",
              "MasterArn.$": "$.MasterArn",
              "DbClusterIdentifier.$": "$.DbClusterIdentifier",
              "DatabaseName.$": "$.DatabaseName",
              "JdbcOptions.$": "$.JdbcOptions",
              "KmsKeyId.$": "$.KmsKeyId",
              "RotationLambdaARN.$": "$.RotationLambdaARN",
              "DestinationAccountRoleArn.$": "$.DestinationAccountRoleArn"
            },
            "ResultPath": "$",
            "Next": "BuildNewSecret"
          },
          "BuildNewSecret": {
            "Type": "Pass",
            "Parameters": {
              "SecretId.$": "$.SecretId",
              "NewSecret": {
                "username.$": "$.SourceSecretParsed.username",
                "password.$": "$.SourceSecretParsed.password",
                "engine.$": "$.Engine",
                "host.$": "$.ClusterEndpoint",
                "host_ro.$": "$.ReaderEndpoint",
                "port.$": "$.ClusterPort",
                "dbname.$": "$.DatabaseName",
                "jdbcUrl.$": "States.Format('jdbc:mysql://{}/{}?{}', $.ClusterEndpoint, $.DatabaseName, $.JdbcOptions)",
                "jdbcReadOnlyUrl.$": "States.Format('jdbc:mysql://{}/{}?{}', $.ReaderEndpoint, $.DatabaseName, $.JdbcOptions)",
                "masterarn.$": "$.MasterArn",
                "dbClusterIdentifier.$": "$.DbClusterIdentifier"
              },
              "KmsKeyId.$": "$.KmsKeyId",
              "RotationLambdaARN.$": "$.RotationLambdaARN",
              "DestinationAccountRoleArn.$": "$.DestinationAccountRoleArn"
            },
            "ResultPath": "$",
            "Next": "StringifyNewSecret"
          },
          "StringifyNewSecret": {
            "Type": "Pass",
            "Parameters": {
              "SecretId.$": "$.SecretId",
              "NewSecretString.$": "States.JsonToString($.NewSecret)",
              "KmsKeyId.$": "$.KmsKeyId",
              "RotationLambdaARN.$": "$.RotationLambdaARN",
              "DestinationAccountRoleArn.$": "$.DestinationAccountRoleArn"
            },
            "ResultPath": "$",
            "Next": "CreateSecret"
          },
          "CreateSecret": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:secretsmanager:createSecret",
            "Credentials": {
              "RoleArn.$": "$.DestinationAccountRoleArn"
            },
            "Parameters": {
              "Name.$": "$.SecretId",
              "SecretString.$": "$.NewSecretString",
              "KmsKeyId.$": "$.KmsKeyId"
            },
            "ResultPath": null,
            "Next": "RotateSecret",
            "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "RotationForItemFailed" }]
          },
          "RotateSecret": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:secretsmanager:rotateSecret",
            "Credentials": {
              "RoleArn.$": "$.DestinationAccountRoleArn"
            },
            "Parameters": {
              "SecretId.$": "$.SecretId",
              "RotationLambdaARN.$": "$.RotationLambdaARN",
              "RotateImmediately": true
            },
            "End": true
          },
          "RotationForItemFailed": {
            "Type": "Fail",
            "Error": "RotationForItemFailed"
          }
        }
      },
      "Next": "PrepareOutput",
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "RotationFailed" }],
      "ResultPath": "$.MapResult"
    },
    "PrepareOutput": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Completed",
        "ModuleName": "rotate_secrets",
        "PrimaryIdentifier.$": "$.DbClusterIdentifier"
      },
      "Next": "RotationSucceeded"
    },
    "RotationFailed": {
      "Type": "Fail",
      "Error": "RotationFailed",
      "Cause": "The secret rotation process failed for one or more secrets."
    },
    "RotationSucceeded": {
      "Type": "Succeed"
    }
  }
}
