modules/step-functions/db/run_mysqlimport_on_eks.asl.json
{
  "Comment": "Cross-account version: Runs a mysqlimport command in an EKS job, reading the data from EFS. Ensures cluster is started before proceeding.",
  "StartAt": "EnsureClusterAvailable",
  "States": {
    "EnsureClusterAvailable": {
      "Type": "Task",
      "Comment": "Ensure cluster is started and available before mysqlimport",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "Name.$": "States.Format('{}-{}', $.OrchestratorExecutionName, 'EnsureClusterAvailable')",
        "StateMachineArn.$": "States.Format('arn:aws:states:{}:{}:stateMachine:{}', $.Environment.Region, $.Environment.AccountId, $.StepFunctions.Database.EnsureClusterAvailable)",
        "Input": {
          "DbClusterIdentifier.$": "$.DbClusterIdentifier",
          "OrchestratorExecutionName.$": "$.OrchestratorExecutionName",
          "DestinationAccount.$": "$.DestinationAccount"
        }
      },
      "ResultPath": "$.EnsureClusterResult",
      "Next": "GetClusterInfo",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.EnsureClusterError",
          "Next": "ImportFailed"
        }
      ]
    },
    "GetClusterInfo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:rds:describeDBClusters",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "DbClusterIdentifier.$": "$.DbClusterIdentifier"
      },
      "ResultSelector": {
        "Status.$": "$.DbClusters[0].Status",
        "Endpoint.$": "$.DbClusters[0].Endpoint",
        "MasterUserSecret.$": "$.DbClusters[0].MasterUserSecret"
      },
      "ResultPath": "$.ClusterInfo",
      "Next": "EnsureNodegroupCapacity",
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "ImportFailed" }]
    },
    "EnsureNodegroupCapacity": {
      "Type": "Task",
      "Comment": "Ensure node group has sufficient capacity before running mysqlimport",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "States.Format('arn:aws:states:{}:{}:stateMachine:{}', $.Environment.Region, $.Environment.AccountId, $.StepFunctions.EKS.ScaleNodegroupAsg)",
        "Input": {
          "ClusterName.$": "$.EKS.ClusterName",
          "Tolerations.$": "$.EKS.Tolerations",
          "MinimumCapacity.$": "$.EKS.Scaling.MinimumCapacity",
          "DesiredCapacity.$": "$.EKS.Scaling.TargetCapacity",
          "OrchestratorExecutionName.$": "$.OrchestratorExecutionName",
          "DestinationAccount.$": "$.DestinationAccount"
        }
      },
      "ResultPath": "$.EnsureNodegroupResult",
      "Next": "GetEksClusterInfo",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.EnsureNodegroupError",
          "Next": "GetEksClusterInfo"
        }
      ]
    },
    "GetEksClusterInfo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:eks:describeCluster",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "Name.$": "$.EKS.ClusterName"
      },
      "ResultPath": "$.EksCluster",
      "Next": "GetDbSecretValue",
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "ImportFailed" }]
    },
    "GetDbSecretValue": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:secretsmanager:getSecretValue",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "SecretId.$": "$.ClusterInfo.MasterUserSecret.SecretArn"
      },
      "ResultPath": "$.DbSecret",
      "Next": "FormatSecretString",
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "ImportFailed" }]
    },
    "FormatSecretString": {
      "Type": "Pass",
      "Parameters": {
        "SecretString.$": "States.StringToJson($.DbSecret.SecretString)"
      },
      "ResultPath": "$.DbSecret",
      "Next": "RunEksJobForImport"
    },
    "RunEksJobForImport": {
      "Type": "Task",
      "Resource": "arn:aws:states:::eks:runJob.sync",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "ClusterName.$": "$.EksCluster.Cluster.Name",
        "CertificateAuthority.$": "$.EksCluster.Cluster.CertificateAuthority.Data",
        "Endpoint.$": "$.EksCluster.Cluster.Endpoint",
        "Namespace.$": "$.EKS.Namespace",
        "Job": {
          "apiVersion": "batch/v1",
          "kind": "Job",
          "metadata": {
            "name.$": "States.Format('mysqlimport-{}', $.OrchestratorExecutionName)"
          },
          "spec": {
            "template": {
              "spec": {
                "serviceAccountName": "refresh",
                "nodeSelector.$": "$.EKS.NodeSelector",
                "tolerations.$": "$.EKS.Tolerations",
                "volumes": [{
                  "name": "shared-data",
                  "persistentVolumeClaim": { "claimName.$": "$.EfsPvcName" }
                }],
                "containers": [{
                  "name": "mysqlimport",
                  "image": "akirosit/mysql-s3:latest",
                  "imagePullPolicy": "Always",
                  "command": ["/import.sh"],
                  "volumeMounts": [{
                    "name": "shared-data",
                    "mountPath": "/refresh",
                    "subPath.$": "$.DumpSubPath"
                  }],
                  "env": [
                    { "name": "TZ", "value": "Europe/Paris" },
                    { "name": "MYSQL_HOST", "value.$": "$.ClusterInfo.Endpoint" },
                    { "name": "MYSQL_USER", "value.$": "$.DbSecret.SecretString.username" },
                    { "name": "MYSQL_PASSWORD", "value.$": "$.DbSecret.SecretString.password" },
                    { "name": "MYSQL_DATABASE", "value.$": "$.DatabaseName" },
                    { "name": "LOCAL_DIR", "value": "/refresh" },
                    { "name": "S3_SYNC", "value": "true" },
                    { "name": "S3_BUCKET", "value.$": "$.RefreshBucket" },
                    { "name": "S3_PREFIX", "value.$": "$.RefreshBucketPrefix" }
                  ]
                }],
                "restartPolicy": "Never"
              }
            }
          }
        }
      },
      "ResultPath": null,
      "Next": "PrepareOutput",
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "ImportFailed" }]
    },
    "PrepareOutput": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Completed",
        "ModuleName": "run_mysqlimport_on_eks",
        "PrimaryIdentifier.$": "$.EKS.ClusterName"
      },
      "Next": "ImportSucceeded"
    },
    "ImportFailed": {
      "Type": "Fail",
      "Error": "ImportFailed",
      "Cause": "The mysqlimport EKS job process failed."
    },
    "ImportSucceeded": {
      "Type": "Succeed"
    }
  }
}
