modules/step-functions/db/run_mysqldump_on_eks.asl.json
{
  "Comment": "Cross-account version: Runs a mysqldump command for a list of tables in an EKS job, saving the output to EFS. Ensures cluster is started before proceeding.",
  "StartAt": "EnsureClusterAvailable",
  "States": {
    "EnsureClusterAvailable": {
      "Type": "Task",
      "Comment": "Ensure cluster is started and available before mysqldump",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "Name.$": "States.Format('{}-{}', $.OrchestratorExecutionName, 'EnsureClusterAvailable')",
        "StateMachineArn.$": "States.Format('arn:aws:states:{}:{}:stateMachine:{}', $.Environment.Region, $.Environment.AccountId, $.StepFunctions.Database.EnsureClusterAvailable)",
        "Input": {
          "DbClusterIdentifier.$": "$.DbClusterIdentifier",
          "OrchestratorExecutionName.$": "$.OrchestratorExecutionName",
          "DestinationAccount.$": "$.DestinationAccount"
        }
      },
      "ResultPath": "$.EnsureClusterResult",
      "Next": "GetClusterInfo",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.EnsureClusterError",
          "Next": "DumpFailed"
        }
      ]
    },
    "GetClusterInfo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:rds:describeDBClusters",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "DbClusterIdentifier.$": "$.DbClusterIdentifier"
      },
      "ResultSelector": {
        "Status.$": "$.DbClusters[0].Status",
        "Endpoint.$": "$.DbClusters[0].Endpoint",
        "MasterUserSecret.$": "$.DbClusters[0].MasterUserSecret"
      },
      "ResultPath": "$.ClusterInfo",
      "Next": "EnsureNodegroupCapacity",
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "DumpFailed" }]
    },
    "EnsureNodegroupCapacity": {
      "Type": "Task",
      "Comment": "Ensure node group has sufficient capacity before running mysqldump",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn.$": "States.Format('arn:aws:states:{}:{}:stateMachine:{}', $.Environment.Region, $.Environment.AccountId, $.StepFunctions.EKS.ScaleNodegroupAsg)",
        "Input": {
          "ClusterName.$": "$.EKS.ClusterName",
          "Tolerations.$": "$.EKS.Tolerations",
          "MinimumCapacity.$": "$.EKS.Scaling.MinimumCapacity",
          "DesiredCapacity.$": "$.EKS.Scaling.TargetCapacity",
          "OrchestratorExecutionName.$": "$.OrchestratorExecutionName",
          "DestinationAccount.$": "$.DestinationAccount"
        }
      },
      "ResultPath": "$.EnsureNodegroupResult",
      "Next": "GetEksClusterInfo",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.EnsureNodegroupError",
          "Next": "GetEksClusterInfo"
        }
      ]
    },
    "GetEksClusterInfo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:eks:describeCluster",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "Name.$": "$.EKS.ClusterName"
      },
      "ResultPath": "$.EksCluster",
      "Next": "GetDbSecretValue",
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "DumpFailed" }]
    },
    "GetDbSecretValue": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:secretsmanager:getSecretValue",
      "Credentials": {
        "RoleArn.$": "$.DestinationAccount.RoleArn"
      },
      "Parameters": {
        "SecretId.$": "$.ClusterInfo.MasterUserSecret.SecretArn"
      },
      "ResultPath": "$.DbSecret",
      "Next": "FormatSecretString",
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "DumpFailed" }]
    },
    "FormatSecretString": {
      "Type": "Pass",
      "Parameters": {
        "SecretString.$": "States.StringToJson($.DbSecret.SecretString)"
      },
      "ResultPath": "$.DbSecret",
      "Next": "DumpTablesMap"
    },
    "DumpTablesMap": {
      "Type": "Map",
      "ItemsPath": "$.TablesToDump",
      "MaxConcurrency": 2,
      "ItemSelector": {
        "EksCluster.$": "$.EksCluster",
        "DestinationAccountRoleArn.$": "$.DestinationAccount.RoleArn",
        "Namespace.$": "$.EKS.Namespace",
        "EksNodeSelector.$": "$.EKS.NodeSelector",
        "EksTolerations.$": "$.EKS.Tolerations",
        "EfsPvcName.$": "$.EfsPvcName",
        "DumpSubPath.$": "$.DumpSubPath",
        "DbEndpoint.$": "$.ClusterInfo.Endpoint",
        "DbUsername.$": "$.DbSecret.SecretString.username",
        "DbPassword.$": "$.DbSecret.SecretString.password",
        "DatabaseName.$": "$$.Map.Item.Value.Database",
        "TableName.$": "$$.Map.Item.Value.Table",
        "JobIndex.$": "$$.Map.Item.Index",
        "OrchestratorExecutionName.$": "$.OrchestratorExecutionName"
      },
      "ItemProcessor": {
        "ProcessorConfig": { "Mode": "INLINE" },
        "StartAt": "RunEksJobForTable",
        "States": {
          "RunEksJobForTable": {
            "Type": "Task",
            "Resource": "arn:aws:states:::eks:runJob.sync",
            "Credentials": {
              "RoleArn.$": "$.DestinationAccountRoleArn"
            },
            "Parameters": {
              "ClusterName.$": "$.EksCluster.Cluster.Name",
              "CertificateAuthority.$": "$.EksCluster.Cluster.CertificateAuthority.Data",
              "Endpoint.$": "$.EksCluster.Cluster.Endpoint",
              "Namespace.$": "$.Namespace",
              "Job": {
                "apiVersion": "batch/v1",
                "kind": "Job",
                "metadata": {
                  "name.$": "States.Format('mysqldump-{}-{}', $.OrchestratorExecutionName, $.JobIndex)"
                },
                "spec": {
                  "template": {
                    "spec": {
                      "serviceAccountName": "refresh",
                      "nodeSelector.$": "$.EksNodeSelector",
                      "tolerations.$": "$.EksTolerations",
                      "volumes": [{
                        "name": "shared-data",
                        "persistentVolumeClaim": { "claimName.$": "$.EfsPvcName" }
                      }],
                      "containers": [{
                        "name": "mysqldump",
                        "image": "akirosit/mysql-s3:latest",
                        "imagePullPolicy": "Always",
                        "command": ["/dump.sh"],
                        "volumeMounts": [{
                          "name": "shared-data",
                          "mountPath": "/refresh",
                          "subPath.$": "$.DumpSubPath"
                        }],
                        "env": [
                          { "name": "TZ", "value": "Europe/Paris" },
                          { "name": "MYSQL_HOST", "value.$": "$.DbEndpoint" },
                          { "name": "MYSQL_USER", "value.$": "$.DbUsername" },
                          { "name": "MYSQL_PASSWORD", "value.$": "$.DbPassword" },
                          { "name": "MYSQL_DATABASE", "value.$": "$.DatabaseName" },
                          { "name": "MYSQL_TABLE", "value.$": "$.TableName" },
                          { "name": "LOCAL_DIR", "value": "/refresh" }
                        ]
                      }],
                      "restartPolicy": "Never"
                    }
                  }
                }
              }
            },
            "End": true
          }
        }
      },
      "Next": "PrepareOutput",
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "DumpFailed" }],
      "ResultPath": "$.MapResult"
    },
    "PrepareOutput": {
      "Type": "Pass",
      "Parameters": {
        "Status": "Completed",
        "ModuleName": "run_mysqldump_on_eks",
        "PrimaryIdentifier.$": "$.EKS.ClusterName"
      },
      "Next": "DumpSucceeded"
    },
    "DumpFailed": {
      "Type": "Fail",
      "Error": "DumpFailed",
      "Cause": "The mysqldump EKS job process failed."
    },
    "DumpSucceeded": {
      "Type": "Succeed"
    }
  }
}
